<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width" />
      <title>จองห้องพัก</title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/assets/stylesheets/responsee.css">
      <link rel="stylesheet" href="/assets/stylesheets/owl.carousel.css">
      <link rel="stylesheet" href="/assets/stylesheets/owl.theme.css">
      <link rel="stylesheet" href="/assets/stylesheets/employee.css">
      <!-- CUSTOM STYLE -->  
      <link rel="stylesheet" href="/assets/stylesheets/template-style.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="/assets/javascripts/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="/assets/javascripts/jquery-ui.min.js"></script>    
      <script type="text/javascript" src="/assets/javascripts/responsee.js"></script>   
   </head>
   <body class="size-1140">
      <header>
            <nav>
                    <div class="line">
                       <div class="top-nav">              
                          <div class="logo hide-l">
                            <a href="http://localhost:9000/"><strong>Hospital's</strong><br/>Reservation</a>
                          </div>                  
                          <p class="nav-text"><i class="fa fa-bars" style="font-size:23px;color:#fff;"></i></p>
                          <ul class="s-12 l-2">
                            <li class="logo hide-s hide-m">
                               <a href="http://localhost:9000/"><strong>Hospital's</strong><br/>Reservation</a>
                            </li>
                         </ul>
                          <div class="top-nav s-12 l-5">
                             <ul class="top-ul chevron">
                                <li><a href="http://localhost:9000/booking" style="font-size: 17px"><i class="fa fa-hotel" style="font-size:21px; color:#fff;"></i> จองห้องพัก</a>
                                </li>
                                <li><a href="http://localhost:9000/check" style="font-size: 17px"><i class="fa fa-calendar" style="font-size:21px; color:#fff;"></i> ตรวจสอบการจอง</a>
                                </li>
                                <li><a href="http://localhost:9000/rules" style="font-size: 17px"><i class="fa fa-gavel" style="font-size:21px; color:#fff;"></i> ระเบียบ</a>
                                </li>
                             </ul>
      
                             <ul class="top-ul chevron right">
                              <li><a onclick="document.getElementById('modal-wrapper').style.display='block'" style="font-size: 17px;"><i class="fa fa-user-md " style="font-size:21px; color:#fff;"></i> ผู้ดูแลระบบ</a>
                              </li>
                           </ul> 
      
      
                          </div>
      
                       </div>
                    </div>
                 </nav>
      </header>
      <div id="modal-wrapper" class="modal">
  
        <form class="modal-content animate" action="/action_page.php">
              
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
            <img src="/assets/images/login.png"  alt="Avatar" class="avatar">
            <h3 style="text-align:center">เฉพาะผู้ดูแลระบบ</h3>
          </div>
          <div>
            <input class="user-text" style="width: 90%" type="" placeholder="Username" name="uname">
            <input style="width: 90%" type="password" placeholder="Password" name="psw">        
            <button type="submit" class="btm-login">เข้าสู่ระบบ</button>
            <input type="checkbox" style="margin-left: 20px;margin-top:10px;"> Remember me      
            <a href="#" style="text-decoration:none; float:right; margin-right:20px; margin-top:5px;color: blue">Forgot Password?</a>
          </div>
          
        </form>
        
      </div>
      
      <section>
            <div id="head">
                  <div class="line">
                        <div class="container">
                              <div id="node-15" class="node node-pages clearfix" about="/qsmc/th/service/patient_services" typeof="sioc:Item foaf:Document">
                                    <span property="dc:title" content="ห้องพักผู้ป่วยพิเศษ" class="rdf-meta element-hidden"></span>
                                    <div class="content">
                                          <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                <div class="field-items">
                                                      <div class="field-item even" property="content:encoded">
                                                            <h3 style="color: #008080;font-size: 24px;" class="center">ระเบียบการจองห้องพักผู้ป่วยพิเศษ</h3>
                                                            <hr>
                                                            <div>
                                                                  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<span style="color: #000; font-size: 16px;">โรงพยาบาลมหาวิทยาลัยอุบลราชธานี มีข้อปฏิบัติในการใช้ห้องพิเศษโรงพยาบาลมหาวิทยาลัยอุบลราชธานี&nbsp; ดังนี้</span></div>
                                                            <br>
                                                            <div>
                                                                  <span style="font-size: 18px;color: #008080;">ระเบียบในการใช้ห้องพิเศษโรงพยาบาลมหาวิทยาลัยอุบลราชธานี :</span></div>
                                                            <div>
                                                                  <span style="font-size: 16px;color: #000;">ผู้ป่วยและญาติที่มาใช้บริการ ห้องพิเศษโรงพยาบาลมหาวิทยาลัยอุบลราชธานี ต้องยินยอมรับเงื่อนไขในการปฏิบัติดังต่อไปนี้</span></div>
                                                            <div>
                                                                  <ul><li>
                                                                        <span style="font-size:16px;color: #000">ต้องมีญาติเฝ้า&nbsp; 1&nbsp; ท่าน&nbsp; ตลอด 24 ชั่วโมง&nbsp; โดยไม่จำกัดเพศ เป็นผู้ที่สามารถให้การดูแลผู้ป่วยได้&nbsp; และต้องมีอายุไม่ต่ำกว่า&nbsp; 12&nbsp; ปี&nbsp; และไม่เป็นผู้สูงอายุ&nbsp; ( 60&nbsp; ปี&nbsp; ขึ้นไป )</span></li>
                                                                 <li>
                                                                        <span style="font-size:16px;color: #000">กรณีผู้ป่วยย้ายเข้า ICU จะต้องคืนห้องพัก&nbsp;&nbsp; กรณีเข้า&nbsp; ICU&nbsp; หลังเวลา&nbsp; 19:00&nbsp;น. ญาติสามารถสำรองห้องพัก ไว้ได้ถึงเวลา&nbsp; 08:00 น.ของวันถัดไป&nbsp; ทั้งนี้เพื่อให้โอกาสในการใช้ห้องพักกับผู้ป่วยท่านอื่น&nbsp; และเมื่อผู้ป่วยออกจาก&nbsp; ICU&nbsp; จะจัดห้องพักให้เป็นลำดับแรกของวันนั้น</span></li>
                                                            
                                                                  <li>
                                                                        <span style="font-size:16px;color: #000">เมื่อเข้าพักจะได้รับ&nbsp; Key Card&nbsp; ห้องละ&nbsp; 1&nbsp; ใบ&nbsp; เพื่อใช้เข้า - ออก&nbsp;ห้องผู้ป่วย&nbsp; เมื่อผู้ป่วยกลับบ้าน ขอความกรุณาคืนบัตรที่ประชาสัมพันธ์&nbsp; กรณีกลับหลัง&nbsp; 21:00 น.&nbsp;คืนบัตรที่เคาน์เตอร์พยาบาล&nbsp; กรณีบัตรหายหรือไม่คืน&nbsp; คิดค่าบริการ 1,000 บาท</span></li>
                                                                  <li>
                                                                        <span style="font-size:16px;color: #000">โรงพยาบาลมหาวิทยาลัยอุบลราชธานี&nbsp; ไม่อนุญาตให้ผู้ป่วยและญาติซักผ้าในห้องพักผู้ป่วยเพื่อป้องกันความชื้น&nbsp; ที่จะก่อให้เกิดเชื้อราในห้องพักผู้ป่วยอันนำมาสู่สภาวะการติดเชื้อ&nbsp; และภาวะแทรกซ้อนในผู้ป่วย</span></li>
                                                                  <li>
                                                                        <span style="font-size:16px;color: #000">การจอดรถค้างคืนสำหรับญาติเฝ้าไข้&nbsp; ต้องกรอกแบบฟอร์มก่อน &nbsp;สามารถกรอกแบบฟอร์มได้ที่ประชาสัมพันธ์ฯ</span></li>
                                                                  <li>
                                                                        <span style="font-size:16px;color: #000">กรณีเบิกจ่ายตรง&nbsp; กรุณานำบัตรประชาชนและ บัตรโรงพยาบาลมาแสดง / กรณีเบิกจ่ายจากต้นสังกัดต้องนำเอกสารมาแสดงก่อนกลับบ้าน&nbsp; มิฉะนั้นทางโรงพยาบาลของสงวนสิทธิเป็นเงินสด</span></li>
                                                                  <li>
                                                                        <span style="font-size:16px;color: #000">กรณีใช้สิทธิ บัตรทอง/ประกันสังคม&nbsp; เบิกได้ตามสิทธิของหน่วยงาน</span></li>
                                                                  </ul>
                                                                  <br>
                                                                  <p><span style="font-size: 18px;color: #008080;">อัตราค่าห้องพิเศษ:</span></p>
                                                                  <br>
                                                                  <table  class="center" cellpadding="1" cellspacing="1" style="width: 80%;">
                                                                        <tbody>
                                                                              <tr>
                                                                                    <td style="background-color: #ccffff; width: 20%">
                                                                                          <h4 class="rtecenter center"><span style="font-size:16px;color: #000">ประเภทของห้อง</span></h4>
                                                                                    </td>
                                                                                    <td style="background-color: #ccffff; width: 8%">
                                                                                          <h4 class="rtecenter center"><span style="font-size:16px;color: #000">จำนวนห้อง</span></h4>
                                                                                    </td>
                                                                                    <td style="background-color: #ccffff; width: 14%">
                                                                                          <h4 class="rtecenter center"><span style="font-size:16px;color: #000">ใช้สิทธิ ชำระเงินเต็มจำนวน</span></h4>
                                                                                    </td>
                                                                                    <td style="background-color: #ccffff; width: 16%">
                                                                                          <h4 class="rtecenter center"><span style="font-size:16px;color: #000">ใช้สิทธิ บัตรทอง/ประกันสังคม</span></h4>
                                                                                    </td>
                                                                                    <td style="background-color: #ccffff; width: 16%">
                                                                                          <h4 class="rtecenter center"><span style="font-size:16px;color: #000">ใช้สิทธิ จ่ายตรง</span></h4>
                                                                                    </td>
                                                                              </tr>
                                                                              <tr>
                                                                                    <td >ห้องพิเศษเล็ก (ไม่มีระเบียง)</td>
                                                                                    <td class="rtecenter" >39</td>
                                                                                    <td class="rtecenter" >1,400 บาท</td>                                                            
                                                                                    <td class="rtecenter" >1,000 บาท</td>
                                                                                    <td class="rtecenter" >200 บาท</td>
                                                                                    
                                                                              </tr>
                                                                              <tr>
                                                                                    <td >ห้องพิเศษใหญ่ (มีระเบียง)</td>
                                                                                    <td class="rtecenter" >3</td>
                                                                                    <td class="rtecenter" >2,000 บาท</td>                                                                                    
                                                                                    <td class="rtecenter" >1,600 บาท</td>
                                                                                    <td class="rtecenter" >500 บาท</td>
                                                                                    
                                                                              </tr>
                                                                              <tr>
                                                                                    <td >ห้องVIP</td>
                                                                                    <td class="rtecenter" >3</td>
                                                                                    <td class="rtecenter" >3,000 บาท</td>                                                                                    
                                                                                    <td class="rtecenter" >2,600 บาท</td>
                                                                                    <td class="rtecenter" >1,000 บาท</td>
                                                                              </tr>                             
                                                                        </tbody>
                                                                  </table>
                                                                  <br>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>  
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      
      <!-- FOOTER -->   
      <footer>
         <div class="line" >
            <div class="s-12 l-6">
                  <p ><a href="https://th.wikipedia.org/wiki/โรงพยาบาลมหาวิทยาลัยอุบลราชธานี"><i class="fas fa-hospital" style="font-size:21px; color:#fff;"></i> โรงพยาบาลมหาวิทยาลัยอุบลราชธานี</a></p>
            </div>
            <div class="s-12 l-6">
                  <p class="right">
                  <a class="right" href="http://www.cmp.ubu.ac.th/newweb/index.php" title="Responsee - lightweight responsive framework"><i class="fas fa-at" style="font-size:16px; color:#fff;"></i> วิทยาลัยแพทยศาสตร์และการสาธารณสุข มหาวิทยาลัยอุบลราชธานี</a></p>
            </div>
         </div>
      </footer> 
      <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
            var reader = new FileReader();

              reader.onload = function (e) {
              $('#blah')
                  .attr('src', e.target.result);
              };

            reader.readAsDataURL(input.files[0]);
          }
        }
      </script>
      <script>
        // If user clicks anywhere outside of the modal, Modal will close
        
        var modal = document.getElementById('modal-wrapper');
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        </script>           
   </body>
</html>