<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
</head>
<body class="size-1140">
    <header>
        <nav>
            <div class="line">
                <div class="top-nav">              
                    <div class="logo hide-l">
                        <a href="../design/"><strong>Hospital's</strong><br/>Reservation</a>
                    </div>                  
                    <p class="nav-text"><i class="fa fa-bars" style="font-size:23px;color:#fff;"></i></p>
                    <ul class="s-12 l-2">
                        <li class="logo hide-s hide-m">
                            <a href="../design/"><strong>Hospital's</strong><br/>Reservation</a>
                        </li>
                    </ul>
                    <div class="top-nav s-12 l-5">
                        <ul class="top-ul chevron">
                            <li><a href="../design/"style="font-size: 17px"><i class="fa fa-hotel" style="font-size:21px; color:#fff;"></i> จองห้องพัก</a></li>
                            <li><a href="../design/product.html"style="font-size: 17px"><i class="fa fa-calendar" style="font-size:21px; color:#fff;"></i> ตรวจสอบการจอง</a></li>
                            <li><a href="../design/services.html" style="font-size: 17px"><i class="fa fa-gavel" style="font-size:21px; color:#fff;"></i> ระเบียบ</a></li>
                        </ul>
                        <ul class="top-ul chevron right">
                            <li><a href="../design/contact.html" style="font-size: 17px;"><i class="fa fa-user-md " style="font-size:21px; color:#fff;"></i> ผู้ดูแลระบบ</a></li>
                        </ul> 
                    </div>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>